<?xml version="1.0" encoding="utf-8"?>
<robot name="uav_2_pseudougv" xmlns:xacro="http://ros.org/wiki/xacro">
    <!--add uav in windy condition-->
    <xacro:if value="$(arg enable_wind)">
        <xacro:include filename="$(find uav_description)/urdf/pyramid_mav_with_wind_gust.gazebo" />
    </xacro:if>

    <!--add uav in calm condition-->
    <xacro:unless value="$(arg enable_wind)">
        <xacro:include filename="$(find uav_description)/urdf/pyramid_mav_generic_odometry_sensor.gazebo" />
    </xacro:unless>

    <!--add tether model-->
    <xacro:if value="$(arg use_tether)">
        <xacro:include filename="$(find tether_description)/urdf/tether.xacro"/>
        <xacro:tether />
    </xacro:if>
</robot>
